$circle-size: 300px;

.c-venn {
  width: 100%;
  position: relative;
  height: $circle-size;
}

.c-venn__circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: calc(#{-$circle-size} / 2);
  transition: all 0.75s ease;
  z-index: 1;
}

.c-venn__circle--ux-designer {
  margin-left: calc(#{-$circle-size} * 1.25);
  background: rgba(255, 0, 0, 0.5);

  .c-venn--hidden & {
    opacity: 0;
    transform: translate(-$circle-size, 0) rotate(-90deg);
  }
}

.c-venn__circle--ux-engineer {
  background: rgba(128, 0, 128, 0.75);
  z-index: 2;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.5) 0.5s;

  .c-venn--hidden & {
    opacity: 0;
    transform: scale(0);
    transition: all 0.75s ease;
  }
}

.c-venn__circle--js-engineer {
  margin-left: calc(#{$circle-size} / 4);
  background: rgba(0, 0, 255, 0.5);

  .c-venn--hidden & {
    opacity: 0;
    transform: translate($circle-size, 0) rotate(90deg);
  }
}

.c-venn__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;

  .c-venn__circle--ux-engineer & {
    font-size: 1.75em;
  }
}

.c-toggle-venn {
  margin-top: 30px;
}
